.main-sidebar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.widget {
  margin: 0 0 39px 165px;
  font-size: 12px;
}

@media only screen and (max-width: 1000px) {
  .widget {
    margin: 35px 0px 30px 0px;
    font-size: 12px;
  }
}
